
@{
    ViewBag.Title = "ViewAllUsers";
}

<h2>Все пользователи библиотеки:</h2>
<hr>
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>№</th>
            <th>Email</th>
            <th>Роль</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 1; }
        @foreach (var u in ViewBag.Users)
        {



            <tr>
                <th scope="row">@i</th>
                <td>@u.Email</td>
                <td>
                    @foreach (var role in ViewBag.Roles[i - 1])
                    {
                        <p>@role</p>
                    }
                </td>
                <td>
                    <a href="/personalArea/UpdateUser/@u.Id" class="btn btn-primary">Изменить</a>
                    <a href="/personalArea/DeleteUser/@u.Id" class="btn btn-primary">Удалить</a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>