@{
    ViewBag.Title = "Личный кабинет";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<a href="/Account/Register" class="btn btn-primary">Добавить пользователя</a>
<a href="/Catalog/addBook" class="btn btn-primary">Добавить книгу</a>
