@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>

<address>
    Библио технологии<br />
    Бэйкерстрит 22, Лондон, Великобритания<br />
    <abbr title="Phone">Т:</abbr>
    0552 12 34 56
</address>

<address>
    <strong>Поддержка сайта:</strong>   <a href="mailto:Support@example.com">Dima_Vasilchenko@example.com</a><br />
    <strong>Поддрежка базы данных:</strong> <a href="mailto:Marketing@example.com">Maria_Efimova@example.com</a>
</address>