@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var b in ViewBag.Items)
    {
        <div class="col-sm-6">
            <div class="card" style="height: 45rem;">
                <div>                  
                    <a href="/Catalog/ViewBook/@b.Book.Id"><img style='width:160px' src="data:image/jpeg;base64,@b.Picture" /></a>
                </div>         
                <div class="card-body">

                    <h3 class="card-title">@b.Book.Title</h3>
                    <h4 class="card-text">@b.Book.Author.FullName</h4>
                    <p class="card-text">@b.Book.Subject.Title</p>
                    <a href="/Catalog/TakeBook/@b.Book.Id" class="btn btn-primary">Взять на свой абонемент</a>
                </div>
            </div>

        </div>
    }
</div>


